<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <mat-icon></mat-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()">LBS-<span>Admin</span></a>
  </div>
  <mat-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
    <mat-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</mat-option>
  </mat-select>
</div>

<div class="header-container">
  <nb-actions size="small">
    <nb-action class="user-action" *ngIf="authenticated; else guest">
      <nb-user [nbContextMenu]="userMenu"
               [onlyPicture]="userPictureOnly"
               [name]="user?.name"
               [picture]="user?.picture">
      </nb-user>
    </nb-action>
    <ng-template #guest>
      <nb-action>
        <button mat-flat-button color="primary" (click)="login()">
          <mat-icon></mat-icon>
          Connexion
        </button>
      </nb-action>
    </ng-template>
  </nb-actions>
</div>
